@import './variables';
//reset
*{
    box-sizing: border-box;
    outline: none;
}
html{
    font-size:13px;
}
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2rem;
    background:#f1f1f1;
    -webkit-font-smoothing:antialiased;
}
p{
    line-height: 1.5rem;
}
a{
    color:#999;
}
.zIndex-999{
    z-index:999;
}


//color
@each $colorKey,$color in $colors {
    .text-#{$colorKey}{
        color:$color;
    }
    .bg-#{$colorKey}{
        background-color: $color;
    }
    .border-#{$colorKey}{
        border:1px solid  $color;
    }
    // .box-shadow-#{$colorKey}{
    //     box-shadow:-3px -1px 3px 0px $color;
    // }
}

// text align
@each $var in (left, center, right) {
    .text-#{$var} {
        text-align:$var !important;
    }
}
//font size
@each $sizeKey, $size in $font-sizes {
    .fs-#{$sizeKey} {
        font-size: $size * $base-font-size;
    }
}
//width,height
.w-100{
    width:100%;
}
.h-100{
    height:100%;
}
.bold{
    font-weight:bold;
}
//flex
.d-flex {
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}
.d-fixed{
    position:fixed;
}
@each $key, $value in $flex-jc {
    .jc-#{$key}{
        justify-content: $value;
    }
}
@each $key, $value in $flex-ai {
    .ai-#{$key}{
        align-items: $value;
    }
}
.flex-1{
    flex:1;
}
.flex-grow-1{
    flex-grow:1;
}

//spacing
//.mt-1 =>margin-top
@each $typeKey, $type in $spacing-types {
    //.m-1
    @each $sizeKey, $size in $spacing-sizes {
        .#{$typeKey}-#{$sizeKey}{
            #{$type}: $size * $spacing-base-size
        }
    }
    //.mx-1, .my-1
    @each $sizeKey, $size in $spacing-sizes {
        .#{$typeKey}x-#{$sizeKey}{
            #{$type}-left: $size * $spacing-base-size;
            #{$type}-right: $size * $spacing-base-size;
        }
        .#{$typeKey}y-#{$sizeKey}{
            #{$type}-top: $size * $spacing-base-size;
            #{$type}-bottom: $size * $spacing-base-size;
        }
    }
    //.mt-1{}
    @each $directionKey, $direction in $spacing-directions {
        @each $sizeKey, $size in $spacing-sizes {
            .#{$typeKey}#{$directionKey}-#{$sizeKey}{
                #{$type}-#{$direction}: $size * $spacing-base-size
            }
        }
    }
}

//button
.btn{
    border:none;
    border-radius: 0.1538rem;
    font-size: map-get($font-sizes,'sm') * $base-font-size;
    padding:0.2rem 0.6rem;
}
//nav
.nav{
    display: flex;
    .nav-item{
        border-bottom: 3px solid transparent;
        padding-bottom:0.2rem;
        color:map-get($colors,'primary');
        &.active{
            border-bottom-color:map-get($colors,'primary');
        }
    }
    &.nav-inverse{
        .nav-item{
            color:map-get($colors,'white');
            &.active{
                border-bottom-color:map-get($colors,'white');
            }
        }
    }
}


//spirte
// .sprite{
//     background:url(../images/index.png) no-repeat 0 0;
//     background-size:28.8462rem;
//     display: inline-block;
//     &.sprite-news{
//         width: 1.7692rem;
//         height: 1.5385rem;
//         background-position:63.546% 15.517%;
//     }
//     &.sprite-arrow{
//         width: 0.7692rem;
// 	    height: 0.7692rem;
//         background-position:38.577% 52.076%;
//     }
// }

//text-overflow
.text-ellipsis{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

//长、宽
@mixin wh($width, $height:$width){
	width: $width;
	height: $height;
}
// 边框色
$color-border: #E6E5EB;
/* 
* 边框
*/
@mixin b($size: 2rpx,$color: $color-border){
	border: $size solid $color;
}
@mixin bt($size: 2rpx,$color: $color-border){
    border-top: $size solid $color;
}
@mixin br($size: 2rpx,$color: $color-border){
    border-right: $size solid $color;
}
@mixin bb($size: 2rpx,$color: $color-border){
    border-bottom: $size solid $color;
}
@mixin bl($size: 2rpx,$color: $color-border){
    border-left: $size solid $color;
}
//flex 布局和 子元素 对其方式
@mixin faj($atype: stretch,$jtype: stretch) {
	display: -webkit-flex;
	display: -moz-flex;
    display: flex;

    -webkit-align-items: $atype;
	-moz-align-items: $atype;
    align-items: $atype;

    -webkit-justify-content: $jtype;
	-moz-justify-content: $jtype;
    justify-content: $jtype;
}
//flex 布局 主轴从上到下 和 子元素 对其方式
@mixin fcaj($atype: stretch,$jtype: stretch) {
	display: -webkit-flex;
	display: -moz-flex;
    display: flex;

    -webkit-flex-direction: column;
	-moz-flex-direction: column;
    flex-direction: column;

    -webkit-align-items: $atype;
	-moz-align-items: $atype;
    align-items: $atype;

    -webkit-justify-content: $jtype;
	-moz-justify-content: $jtype;
    justify-content: $jtype;
}